@import "../../../shared/styles_base/normalize.scss";
@import "../../../shared/styles_base/variables.scss";

.menu {
  display: flex;
  flex-direction: column;

  position: static;

  top: 0;
  left: 0;

  padding: 0px 50px;

  &__list {
    display: flex;
    flex-direction: column;

    gap: 12px;

    margin: 20px 0px;
  }
}
